<div class="m-2">
<h1>Ruby Profile Project</h1>
<nav class="nav flex-column">
  <a class="nav-link active" href="/articles">Partie Article</a>
  <a class="nav-link active" href="/profiles">Partie Profile</a>
</nav>
</div>